.vscode/
RCBS/__pycache__
RCBS/md_analyser/__pycache__
RCBS.py.egg-info/
build/
hello/
RCBS/examples/md_analyser/.ipynb_checkpoints/md_analyzer_example-checkpoint.ipynb
dist/
__pycache__/
RCBS.code-workspace
notes/
RCBS/examples/md_analyser/trajectory_analysis_and_frame_extraction_testing.ipynb
